[Desktop Entry]
Name=xkcd passphrase generator
GenericName=Generate passphrases
Comment=Generate secure passphrases
TryExec=xkcd-generate.pl
Exec=xkcd-generate.pl
Icon=xkcd-5-dollar-wrench.png
Type=Application
Terminal=false
Categories=GTK;GNOME;Utility;
StartupNotify=true
Keywords=password;passphrase;
